*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    background-image: url('/images/donation1.jpg');
    width: 1440px;
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    
}
.div1{
    margin: 175px 310px;
    
}
#head-title{
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
#head-pra{
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro-btn{
    width: 160px;
    height: 56px;
    background-color: #FF5959;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.pro-btn{

}

.main{
    margin: 130px 375px;
}
.hed-today{
        text-align: center;
        color: #121212;
        font-weight: 700;
        font-size: 45px;
        margin-bottom: 15px;

}

.dis{
    text-align: center;
    font-size: 20px;
    color: #707070;
    margin-bottom: 50px;
    
    
}

/* donate plane */
.hedp{
    margin: 130px 375px;
}

.donate-title{
    text-align: center;
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}
.donate-pra{
    text-align: center;
    font-size: 20px;
    color: #707070;
}


.div-donate{
    display: flex;
    margin: 50px 150px;
    gap: 15px;
}
.divFood{
    padding: 145px 22px 55px;
    background-color: #4f9da65e;
    
}
.divShelter{
    padding: 145px 22px 55px;
    background-color: #ff59595d;
   
}
.divEducation{
    padding: 145px 22px 55px;
    background-color: #fff4d670;
   
}
.eduh{
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 7%);
}
.edup{
    color: #707070;
}

.donatesec{
    display: flex;
    margin: 182px 156px;


}
.img-donate{
    height: 477px;
    width: 456px;
    
}
.dolor-title{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 5px;
}
.dolor-pra{
    font-size: 20px;
    color: #707070;
}
.btn-sec{
    background-color: #FF5959;
    border-radius: 5px;
    border: 0;
    width: 230px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 30px;
}
/* dolor sec ami ei jayga bal korchi */
.donate-sec{
    display: flex;
    margin: 182px 156px;
}
.dolor-sec{
    margin-left: 90px;
}
.dolor-title-sec{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 5px;
}
.dolor-pra-sec{
    font-size: 20px;
    color: #707070;
}
.update{
    margin: 130px 374px;
}
.updatet{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 10px;
}
.update-pra{
    text-align: center;
    font-size: 20px;
    color: #707070;
}

.input{
    display: flex;
    justify-content: center;
    margin: 60px 315px;
    padding: 74px 188px;
    background-color: #FFF4D6;
}
.email{
    width: 275px;
    height: 48px;
    background-color: #D9D9D9;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    font-size: 25px;
    color: #AA9F9F;
    text-align: center;
}
.submit{
    width: 157px;
    height: 48px;
    background-color: #FF5959;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
footer{
    width: 1440px;
    height:  177px;
    background-color: #121212;
}
.footer{
    font-family: 'Lobster';
    font-size: 25px;
    background-color: #121212;
}
.footer-h{
    text-align: center;
    color: #FF5959;
    font-family: 'Lobster';
    font-size: 30px;
    margin-top: 50px;
    
    
}
.footer-pra{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #D9DBE1;
}
.li{
    display: flex;
    text-decoration: none;
}
.icon{
    margin: 0 0 50px 0;
    width: 58.13px;
    height: 49.77px;
}
.flax{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;


}
li{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 123px;
    background-color: #f5e7e7;
    font-size: 30px;
    font-weight: 700;
    color:  #707070;
    border-radius: 5px;
}
#li-sp{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 123px;
    background-color: #FFEEEE;
    font-size: 30px;
    font-weight: 700;
    color:  #FF5959;
    border-radius: 5px;
    border: 2px solid;
}
.sp-pra{
    text-align: center;
    font-size: 18px;
    color: #B3B3B3;
}
.sp-t{
    margin-bottom: 10px;
}
hr{
    margin-bottom: 10px;
}